@charset "uft-8";

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:link{
    color:inherit;
    text-decoration: none;
}

ul,ol,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}

button{
    background:none;
    border:0;
}

.wrap{
    max-width: 393px;
}

.table{
    width:100%;
}

p{
    font-size:1rem;
}
/* @media screen and (max-width:393px) {
    
} */
.d-none{
    display: none;
}
.d-flex{
    display:flex;
}

.my1{
    margin:0 1rem;
}
.my2{
    margin:0 2rem;
}
.my3{
    margin:0 3rem;
}

.mx1{
    margin:1rem 0;
}
.mx2{
    margin:2rem 0;
}
.mx3{
    margin:3rem 0;
}
/*======================/commonstyle==========================*/
.logo{
    background: url(../images/logo.jpg) no-repeat center/cover;
    width:140px;
    height:40px;
}
.login{
    background: url(../images/login.png) no-repeat center/cover;
    width:30px;
    height: 30px;
}
/*======================/header==========================*/
.banner{
    background: url(../images/main-camping.png) no-repeat center/cover;
    margin: 0 auto;
    width:393px;
    height: 393px;
}
.reserve{
    background: url(../images/Reserve.png) no-repeat center/cover;
    width:45px;
    height: 45px;
}

.info{
    background:url(../images/Info.png) no-repeat center/cover;
    width:50px;
    height:50px;
}

.check{
    background:url(../images/check\ 1.png) no-repeat center/cover;
    width:45px;
    height: 45px;
}   

.review{
    background:url(../images/review.png) no-repeat center/cover;
    width:45px;
    height:45px;
}

.campcar{
    background:url(../images/camping\ car.jpg) no-repeat center/cover;
    width:392px;
    height: 222px;
}

.campsite{
    background:url(../images/campsite.jpg) no-repeat center/cover;
    width:392px;
    height: 222px;
}


.sights1{
    background:url(../images/sights\ 1.jpg) no-repeat center/cover;
    width:156px;
    height: 143px;
}
.sights2{
    background:url(../images/sights\ 2.jpg) no-repeat center/cover;
    width:156px;
    height: 143px;
}
.sights3{
    background:url(../images/sights\ 3.jpg) no-repeat center/cover;
    width:156px;
    height: 143px;
}
.sights4{
    background:url(../images/sights\ 4.jpg) no-repeat center/cover;
    width:156px;
    height: 143px;
}
/*======================/main==========================*/
.foot-logo{
    background: url(../images/bottom_logo.jpg) no-repeat center/cover;
}
/*======================/footer==========================*/