@charset "uft-8";

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:link{
    color:inherit;
    text-decoration: none;
}

ul,ol,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}

button{
    background:none;
    border:0;
}

.wrap{
    max-width: 393px;
    overflow: hidden;
}

.table{
    width:100%;
}

p{
    font-size:1rem;
}

.d-none{
    display: none;
}
.d-flex{
    display:flex;
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.text-center{
    text-align: center;
}
.pos-ab{
    position:absolute        
}
.pos-re{
    position: relative;
}
.my1{
    margin:0 1rem;
}
.my2{
    margin:0 2rem;
}
.my3{
    margin:0 3rem;
}

.mx1{
    margin:1rem 0;
}
.mx2{
    margin:2rem 0;
}
.mx3{
    margin:3rem 0;
}

/*======================/commonstyle==========================*/
@media screen and (max-width:393px) {
.logo{
    width:140px;
    height: 40px;
}
/*======================/header==========================*/
.banner{

}
.reserve{

}

.info{

}

.check{

}   

.review{

}
.campcar>img{
    position:relative;
}
.btn-text{
    position:absolute;
}


.campsite{

}


.sights1{

}
.sights2{

}
.sights3{

}
.sights4{

}
/*======================/main==========================*/
.foot-logo{

}
/*======================/footer==========================*/
}