@charset "uft-8";

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#2373CE;
    --sub-color:##D9DCE1;
}
a,
a:link{
    color:inherit;
    text-decoration: none;
}

ul,ol,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}

h4{
    color:#333;
}

button{
    background:none;
    border:0;
}


.table{
    width:100%;
}

p{
    font-size:1rem;
}

.d-none{
    display: none;
}
.d-flex{
    display:flex;
}
.justify-center{
    justify-content: center;
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.text-center{
    text-align: center;
}
.pos-ab{
    position:absolute        
}
.pos-re{
    position: relative;
}

.my-5{
    margin:.5rem 0;
}
.my1{
    margin:1rem 0;
}
.my2{
    margin:2rem 0;
}
.my3{
    margin:3rem 0;
}

.mx1{
    margin:0 1rem;
}
.mx2{
    margin:0 2rem;
}
.mx3{
    margin:0 3rem;
}

header{
    position:fixed;
    background:white;
    width:393px;
    z-index:19;
}
table{
    border-collapse: collapse;
    text-align: center;
    font-weight: bold;
}

td{
    background:#D9DCE1;
    width:50px;
    height:50px;
}
td:hover,.grid:hover{
    background:#707171;
}
.main-color{
    background:var(--main-color);
    width:50px;
    height: 50px;
}
.red{
    color:red;
}
.red-bottom{
    border-bottom:3px solid red;
}
.blue{
    color:blue;
}
.black{
    color:black;
}
.text-main{
    color:#2373CE;
}
.text-bold{
    font-weight: bold;
}
/*======================/commonstyle==========================*/
/* @media screen and (max-width:393px) { */
.wrap{
    max-width: 393px;
    overflow: hidden;
}
.login{
    margin-top:.3rem;
}
.tab{
    width:70px;
}
.tab-menu{
    margin-left:8rem;
}
.logo{
    width:140px;
    height: 40px;
}
/*======================/header==========================*/
.date-text{
    justify-content: space-around;
    background:#D9DCE1;
    width:350px;
    height: 50px;
    margin:0 1rem;
    align-items: center;
}
.reserve>table{
    margin:0 auto;
}
.reserve>table>thead>tr>th{
    width:80px;
    height:50px;
}
.reserved-title{
    margin-top:5rem;
    font-size:1.7rem;
}
.navi{
    border: 1px solid transparent;
    width:200px;
    left:190px;
    text-align: center;
    background:white;
    position:fixed;
    z-index:30;
    display: none;
}
.navi>li{
    border-bottom: 1px solid var(--main-color);
}
.gnb{
    text-align:right;
    font-weight: bold;
}
.gnb li{
    margin:1.3rem 0;
}
.lnb{
    /* border-top:2px solid #333; */
    color:#454444;
    font-weight: bold;
    background:white;
    font-size:1rem;
    text-align:right;
    margin: 0 1.5rem 0 0;
}
.container{
    display: grid;
    grid-template-columns:90px 90px 90px 90px;
    grid-template-rows: 40px 40px 40px;
    justify-content: center;
}
.grid{
    border:1px solid #333;
    text-align: center;
    align-items: center;
}

.grid-point{
    background:rgb(109, 144, 240);
    border-radius: 1rem;
}
.grid-text{
    display: flex;
    justify-content: end;
    margin:.3rem 2rem 0 0;
}
.grid-text span{
    content: "";
    display: block;
    border-radius: 1rem;
    background:rgb(109, 144, 240);
    width:40px;
    margin: .2rem .5rem;
    height: 20px;
    text-align: center;
}
.main-place{
    height: 220px;
    margin:1rem 0;
}
.campcar img{
    position:absolute;
}
.depo-text{
    margin:0 1.725rem;
}
.use-people{
    margin:0 1.325rem;
}

.btn-text1{
    font-weight: bold;
    position:relative;
    color:#333;
    top:35%;
}
.btn-text1 button{
    color:#333;
    border:2px solid #333;
    width:90px;
    font-size: .7rem;
}
.sub-place{
    height: 220px;
    margin:1rem 0;
}
.campsite img{
    position:absolute;
}
.btn-text2{
    font-weight: bold;
    position:relative;
    color:#333;
    top:35%;
}
.btn-text2 button{
    color:#333;
    border:2px solid #333;
    width:90px;
    font-size: .7rem;
}
.check{
     margin: .1rem;
}
.review{
    margin: .1rem;
}

.place1{
    margin-bottom:1rem;
}
.place2{
    margin-bottom:1rem;
}

.sights1 img{
    border-collapse: collapse;
    /* position: absolute; */
}
.sights1 p{
    position: relative;
    background: #333;
    color:white;
}
.sights2 p{
    position: relative;
    background: #333;
    color:white;
}
.sights3 p{
    position: relative;
    background: #333;
    color:white;
}
.sights4 p{
    position: relative;
    background: #333;
    color:white;
}
.place-btn{
    background:rgba(222, 221, 221, 0.933);
    opacity: .8;
    margin: 0 auto;
    border:1px solid #333;
    border-radius: 1rem;
    margin-bottom:1rem;
    justify-content: center;
    text-align: center;
    width:70px;
    height: 27px;
    line-height: 17px;
}
.use-guide{
 margin: 1.5rem 0; 
}
.use-time{
    margin: 1rem 2rem;
}
.use-time h4{
    margin:.5rem 0;
}
.use-time p{
    margin: 0 0 0 1rem;
    text-align: center;
    display: flex;
}
.use-time span{
    display:block;
    margin:0 .5rem 0 0 ;
    background:#F23131;
    border-radius: .5rem;
    width:60px;
    height:30px;
}
.use-money{
    margin: 0 2rem;
}
#sub-usem{
    align-items: center;
    background:#fefefe;
    color:#333;
    margin:0 auto;
}
#sub-usem>thead>tr>th{
    width:90px;
    height: 40px;
}
.money-text{
    display: flex;
}
.money-text p{
    color:#a3a2a2;
    margin: 0 0 0 .5rem;
    line-height: 35px;
    font-size: .725rem;
}
table{
    font-size:1rem;
    align-items: center;
    border: 1px solid #333;
    border-collapse: collapse;
    margin:0 1rem;
}
th,td{
    align-items: center;
    border: 1px solid #333;
    border-collapse: collapse;
    margin:1rem;
}
td{
   padding:2px;
}
#point{
    position:relative;
    overflow:hidden;
}
.point-span{
   position:absolute;
   color:orange;
   bottom:40px;
   right:-8px;
}
.use-deposit{
    margin:0 2rem;
}
.deposit-text h4{
    margin:.5rem 0;
}
.deposit-text p{
    margin: .5rem 0 0 1rem;
    font-size:.725rem;
}
.depo-p2{
    margin: 0  1rem;
    margin-bottom: .5rem;
}
.deposit-info{
    width:330px;
    height:100px;
    margin:.5rem 0 .5rem 1rem;
    padding: 1px;
    background:#2373CE;
    color:white;
}
.deposit-info h4{
    font-size:1rem;
    margin:.6rem;
}
.deposit-info span{
    color:#C8E22B;
}
.depo-p{
    font-size:.6rem;
    margin: 0 0 1rem 1rem;
}
.price-box{
    text-align:center;
    display: grid;
    border:2px solid #333;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-collapse:collapse;
    font-size: 1rem;
}
.use-price1{
    font-weight: bold;
    background:var(--sub-color);
    border:1px solid #333;
    grid-column: 1/5;
    grid-row:1/2
}
.use-price2{
    background:var(--sub-color);
    border:1px solid #333;
    grid-column:1/3;
    grid-row:2/3;
}
.use-price3{
    background:var(--sub-color);
    border:1px solid #333;
    grid-column:3/5;
    grid-row:2/3;
}
.use-price4{
    background:var(--sub-color);
    border:1px solid #333;
    grid-column:1/3;
    grid-row:3/4;
}
.use-price5{
    background:var(--sub-color);
    border:1px solid #333;
    grid-column:3/5;
    grid-row:3/4;
}

.refund-box{
    text-align: center;
    font-size: 1rem;
    border: 2px solid #333;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.refund2-box{
    text-align: center;
    font-size: 1rem;
    display: grid;
    border:2px solid #333;
    grid-template-columns: 1;
}
.refund1{
    border:1px solid #333;
    font-weight: bold;
    grid-column: 1/3;
    grid-row: 1/3;
}
.content{
    content:"";
    display:block;
    width:20px;
    height:10px;
    background:transparent;
}
.refund2{
    border:1px solid #333;
    font-weight: bold;
    grid-column: 3/8;
    grid-row: 1/2;
}
.refund3{
    border:1px solid #333;
    font-weight: bold;
    grid-column:3/5;
    grid-row:2/3;
}
.refund4{
    border:1px solid #333;
    font-weight: bold;
    grid-column:5/8;
    grid-row:2/3;
}
.refund5{
    border:1px solid #333;
    grid-column:1/3;
    grid-row:3/4;
}
.refund6{
    border:1px solid #333;
    grid-column:3/5;
    grid-row:3/4;
}
.refund7{
    border:1px solid #333;
    grid-column:5/8;
    grid-row:3/4;
}
.refund8{
    border:1px solid #333;
    grid-column:1/3;
    grid-row:4/5;
}
.refund9{
    border:1px solid #333;
    grid-column:3/5;
    grid-row:4/5;
}
.refund10{
    border:1px solid #333;
    grid-column:5/8;
    grid-row:4/5;
}
.refund11{
    border:1px solid #333;
    grid-column:1/3;
    grid-row:5/6;
}
.refund12{
    border:1px solid #333;
    grid-column:3/5;
    grid-row:5/6;
}
.refund13{
    border:1px solid #333;
    grid-column:5/8;
    grid-row:5/6;
}
.refund14{
    border:1px solid #333;
    grid-column:1/3;
    grid-row:6/7;
}
.refund15{
    border:1px solid #333;
    grid-column:3/5;
    grid-row:6/7;
}
.refund16{
    border:1px solid #333;
    grid-column:5/8;
    grid-row:6/7;
}
.refund17{
    border:1px solid #333;
    grid-column:1/3;
    grid-row:7/8;
}
.refund18{
    border:1px solid #333;
    grid-column:3/5;
    grid-row:7/8;
}
.refund19{
    border:1px solid #333;
    grid-column:5/8;
    grid-row:7/8;
}
.reserve-btn{
    justify-content: center;
    text-align: center;
    font-weight: bold;
    margin:.5rem auto;
    background: #fefe;
    border:1px solid #333;
    border-radius: .5rem;
    width:100px;
    height: 40px;
    
}
/*======================/main==========================*/
.foot-info{
    width:393px;
    height: 50px;
    text-align: center;
    background: #D9D9D9;
    background-size:1rem 0;
    margin:2rem 0;
}
.foot-info p{
    line-height:43px;
    font-size: .555rem;
    background: #D9D9D9;
}
.foot-logo img{
   width:100%;
   align-items: center;
}
.foot-right h4{
    font-size:.625rem;
}
.foot-right p{
    font-size: .625rem;
}
/*======================/footer==========================*/
/* } */
